 #root {
	background-color: #000;
	flex: 1;
	min-height: 100vh;
}

.container {
	padding: 5rem;
	background: #000;
}

.table-container{
	border-radius: 10px;
}

.highlight-table-row{
	background: #646cffaa;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #fff;
	border-radius: 20px;
}